%tr
  %td= habit.name
  %td= habit.description
  %td= habit.small_name
  %td= habit.small_description
  %td= habit.name_days
  %td= habit.active_name
  %td
    = link_to habit_path(habit) do
      %button.btn.btn-default
        %span.glyphicon.glyphicon-edit
    = link_to habit_path(habit, { method: :delete }) do
      %button.btn.btn-default
        %span.glyphicon.glyphicon-remove
