!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Zordon App'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Zordon App'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    = render 'layouts/messages'
    .main
      .container
        .row
          = yield
          = image_tag('logo_4.png')
